html{
    background-color: #CCCCCC;
}

a{
    text-decoration:none;
    color: white;
}
section{
    position: absolute;
    width: 530px;
    height:230px;
    padding-top:100px;
    padding-left:60px ;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    box-shadow: #666 5px 0px 15px;
color:white;
}
.one{

    left: 50px;
    top:50px;
    background-color:#7d4627;

    z-index: 10;
}

.two{

    left: 600px;
    top:5px;
    background-color:#a8b6bf;
    z-index: 0;
}

.three{
    left: 50px;
    top:380px;
    background-color:#edd9c0;
    color: #7d4627;
    z-index: 10;
}

#bla{

    background-color: rgba(0,51,102,0.65);
    width: 590px;
    height:330px;
    position:relative;
    top:-100px;
    left:-60px;
    color: white;
    z-index: 10;
}


.four{
    left:600px;
    top:335px;

    background-image: url("img/three.png " );
    z-index: 0;
}

.five{
    left: 50px;
    top:710px;
    background-color:#999;
    z-index: 10;
}

.six{
    left:600px;
    top:640px;
    background-color: #c9d8c5;
    box-shadow: #666 5px 5px 15px;
    z-index: 0;
}